@import 'tailwindcss';

html,body {
  background-color: #838383;
  height: 100%;
}
#root {
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.container {
  min-height: calc(100% - 51px);
  background-color: #FFD757;
}
.container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
}