@import 'tailwindcss';

html,body {
  background-color: #838383;
  height: 100%;
}
#root {
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}

/* 媒体查询：当屏幕宽度大于 400px 时，设置最大宽度为 100% */
@media (min-width: 401px) {
  #root {
    max-width: 100%;
  }
}

.container {
  min-height: calc(100% - 51px);
  background-color: #FFD757;
}
.container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
}